.env

/mariadb/data/**
!/mariadb/data/.gitkeep
/mariadb/dump/**
!/mariadb/dump/.gitkeep
/mariadb/logs/**
!/mariadb/logs/.gitkeep

/.ssh/**
!/.ssh/.gitkeep

/nginx/logs/**
!/nginx/logs/.gitkeep

/projects/**
!/projects/.gitkeep

/manticore/data/**
!/manticore/data/.gitkeep

.idea/
.DS_Store
